<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <parameter name="url" value="https://www.amazon.com/"/>
  <parameter name="emailid" value="sbevara@uncc.edu"/>
  <parameter name="password" value="Roshinib1"/>
  
    <classes>
     <!-- <class name="com.Automationpractice.testcases.SampleTestNGtest"/> -->
      <class name="com.Automationpractice.testcases.AmazonTest"/>
        <class name="com.Automationpractice.testcases.RegistrationForm"/>
          <class name="com.Automationpractice.testcases.SampleTestNGtest"/>
          
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
